@model FoodApp.Data.Models.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddCategory</h1>
@using (@Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.LabelFor(c => c.Name)
    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-success mt-5">Save</button>

}
