@model FoodApp.Data.Models.Category
@{
    ViewData["Title"] = "getCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>getCategory</h1>

@using (@Html.BeginForm("updateCategory", "Category", FormMethod.Post))
{
    @Html.LabelFor(c => c.Id)
    @Html.TextBoxFor(c => c.Id, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(c => c.Name)
    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-success mt-5">Update</button>

}
