@model FoodApp.Data.Models.Food
@{
    ViewData["Title"] = "getFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>getFood</h1>
@using (@Html.BeginForm("updateFood", "Food", FormMethod.Post))
{
    @Html.LabelFor(c => c.id)
    @Html.TextBoxFor(c => c.id, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.name)
    @Html.TextBoxFor(c => c.name, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Stock)
    @Html.TextBoxFor(c => c.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.IamgeUrl)
    @Html.TextBoxFor(x => x.IamgeUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.category)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.foodbag2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary mt-5">Save</button>

}

